@font-face {
    font-family: "creepyfont";
    src: url("SuperRugged-4nBy9.ttf") format("truetype");
}

body {
    background-image: url("foghill.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "creepyfont", sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    padding-top: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 60px;
}